*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
body{
    background-color: rgba(245, 245, 245, 1);
}
/* Shared Code */
.masterwid{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.btn{
    padding: 5px 14px;
    color: #006A50;
    border: 1px solid #006A50;
    border-radius: 6px;
    background-color: white;
    font-weight: 600;
    font-size: 14px;
}
.btn2{
    padding: 7px 15px;
    color: white;
    border-radius: 6px;
    background-color:rgba(0, 106, 80, 1);
    font-weight: 500;
    font-size: 14px;
    border: none;
    max-width:max-content;
}

/* Header Styling */
nav{
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
   
}
/* Hero Styling */

.hero_parent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 30px;
    background-color: #c6e4d6;
    border-radius: 8px;
}
.hero_parent .hero_left{
    width: 500px;
}
.hero_left h2{
    font-size: 20px;
    color: rgba(14, 14, 14, 0.5);
    font-weight: 600;
}
.hero_left h1{
    font-size: 50px;
    color: rgba(14, 14, 14, 1);
    font-weight: 700;
    margin-bottom: 15px;
}
/* Pillars of "Bangladesh 2.0 styling */

.pillars-section-title {
    color: rgba(14, 14, 14, 1);
    font-size: 30px;
  
}
.pillars_card img{
    width: 40px;
}
.pillars_card_parant{
    display: flex;
    gap: 20px;
}
.pillars_card{
    width: 250px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(0, 0, 0, 0.085);
    padding: 14px;
    border-radius: 5px;
    display: flex;
    flex-direction:column;
    gap: 15px;
    flex:1;
    margin-top: 25px;
}
.pillars_card p{
    color: rgba(14, 14, 14, 0.7);
}
/* The Vision of Future Styling */

.future_container h2 {
    font-size: 30px;
    margin-bottom:15px;
}
.future_container p {
    font-size: 14px;
   color: rgba(14, 14, 14, 0.7);
}
.future-card-parant{
    margin-top: 20px;
    display: flex;
    gap: 30px;
}
.future_card img{
    width: 40px;
}
.future_card{
    width:300px;
    height: auto;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(0, 0, 0, 0.085);
    padding: 30px 10px ;
    border-radius: 5px;
    display: flex;
    flex-direction:column;
    gap: 15px;
    flex:1;
    margin-bottom: 30px;
}
.future_card:nth-child(1){
    background: rgba(84, 144, 245, 0.2),black
}
.future_card:nth-child(2){
    background-color: #c6e4d6;
}
.future_card:nth-child(3){
   background: rgba(247, 235, 207, 1);
}
.future_card:nth-child(1) button{
    background-color: rgba(84, 144, 245, 1);
}
.future_card:nth-child(2) button{
    background-color:rgba(9, 161, 92, 1)
}
.future_card:nth-child(3) button{
    background-color: rgba(255, 194, 57, 1);
}

/* Dr. Younus Section Styling */

.younus_content{
    padding: 30px 15px;
    border: 1px solid rgba(14, 14, 14, 0.164);
    border-radius: 6px;
    background: rgb(244, 240, 240);
}
.younus_content p{
    font-size: 14px;
   color: rgba(14, 14, 14, 0.7);
}
.younus_content h3{
    font-size: 15px;
    margin: 10px 0;
}
/*  Section Openion Matters Styling */
 .openion_section_main{
    margin-top: 30px;
}
.openion_section_main h2{
    font-size: 30px;
}
.openion_table{
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  margin-top: 20px;
}

.openion_table table{
    width: 100%;
}
.openion_table  td{
    border: 1px solid rgba(164, 154, 154, 0.318);
    padding: 20px 10px;
    border-radius: 4px;
    border-collapse: collapse;

}
.openion_table thead th {
  text-align: left;
  padding: 15px;
  background: rgba(198, 228, 214, 1);
}
 .openion_table select {
    background-color: #c6e4d6;
    padding: 9px 14px;
    border-radius: 6px;
    border: none;
 }

/* News_section styling */

.news_section h2{
    font-size: 30px;
    margin-bottom: 15px;
}
.news_section p{
    font-size: 14px;
   color: rgba(14, 14, 14, 0.7);
   margin: 10px 0;
}
.news_content img {
    width: 350px;
    height: auto;
    border-radius: 8px;
}
.news_content_right img{
    width: 80px;
}
.news_content_right h2{
    color: rgba(14, 14, 14, 0.8);
    font-size: 25px;
}
.news_content{
    background: rgba(255, 255, 255, 1);
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
}
.news_section:nth-child(2){
    display: flex;
    flex-direction: row-reverse;
}
/* Donation Styling */
.donation_main {
    text-align: center;
}
.donation_main h2{
    font-size: 30px;
   color: rgba(14, 14, 14, 1);
   margin-bottom: 10px;
}
.donation_main p{
    font-size: 14px;
   color: rgba(14, 14, 14, 0.7);
   margin-bottom: 10px;
}
.donation_quantity{
      display: flex;
      justify-content: space-around;
      margin-top: 30px;
}
.donation_quantity h1 {
    padding: 30px;
    border: 1px solid rgba(14, 14, 14, 0.164);
    border-radius: 6px;
    background: rgb(255, 255, 255); 
    color: rgba(14, 14, 14, 0.8);
}
.donation_main input{
    width: 70%;
    margin-top: 30px;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
}
/* News letter section styling */
.newsletter_main{
    text-align: center;
    background-color: #c6e4d6;
    border-radius: 6px;
    padding: 70px 0;
    margin-bottom: 40px;
}
.newsletter_main h1{
    font-size: 35px;
    margin-bottom: 15px;
}
.newsletter_main p{
    font-size: 15px;
    color: rgba(14, 14, 14, 0.7);
   width: 50%;
   margin: auto;
   line-height: 20px;
   margin-bottom: 20px;
}
.newsletter_main input{
    width: 40%;
    padding: 8px 10px;
}
.newsletter_main button{
      padding: 9px 16px;
      margin-left: -4px;
      border-radius: 0;
}
.newsletter_main span{
    margin-bottom: 30px;
}
.newsletter_main h3{
    font-size: 15px;
    color: rgba(14, 14, 14, 0.7);
    margin-top: 20px;
}
footer{
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 30px 0;
    border-radius: 6px;
}
footer h2{
    font-size: 30px;
    margin-bottom: 15px;
}
footer img {
    width: 20px;
    margin-right: 10px;
}